.header {
    height: 100%;
    display: flex;
    background-color: black;
    &-text {
        color: #f57c00;
        font-size: 200%;
        font-weight: bold;
        margin-left: 18.5%;
        padding: 5px 0;
    }
    &-image {
        height: 100%;
        padding: 1.2% 0;
        min-width: 15%;
        margin-left: 12%;
    }
}
