.logos {
  margin-right: 1.66%;
  margin-left: 1.66%;
  width: 30%;
}

.model-container {
  width: 100%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  width: 28%;
  min-height: 10%;
  max-width: 300px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #252525;
}

.cass :last-child {
  background-color: red;
}

.car {
  height: 150px;
  display: inline-block;
  width: 47%;
  margin-right: 3%;

  &-item {
    width: 100%;
  }
}

.cars-model {
  background-color: #252525;
}

::ng-deep .card {
  border-color: #f57c00;
  background-color: #252525;
}

::ng-deep .btn-link {
  color: #252525;
  border-color: #252525;

  &:not(.collapsed) {
    background-color: #f57c00;
    font-weight: bold;
  }

  &.collapsed {
    background-color: transparent;
    color: #f57c00;
    border-color: #f57c00;
  }
  min-width: 100px;
}

.checkboxes {
  color: #f57c00;
}
